* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Lato','Arial', 'sans-serif'; 
    font-size: 12px;
    height: 100%;
    margin: 0px;
	overflow-x: hidden;    
}

h1 {
    
}

h2 {
    text-align: center;
    margin-bottom: 4%;
}

li {
	list-style: none;
}



/*-------Header--------*/
.header {
	background-color:#F1AF7F;
	height:100px;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 2px;
    margin-left: 12px;
}

.main-nav {
    float: right;
    list-style: none;
    font-size: 20px;
    margin-top: 38px;
    margin-right: 90px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;

}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #dd7a32;
}

/*------Success msg part*/
.success_msg{
	text-align:center;
}
.order_success_msg{
	font-size:35px;
	font-weight:600;
	margin:4%;
}
.green{
	color:#098c52;
}
.thankyou_msg{
	font-size:25px;
	font-weight:500;
	
}

.delivery_msg{
	margin:4% 0;
	font-size:22px;
}
.continue_link{
	padding: 1%;
    font-size: 25px;
    border-radius: 150px;
    background-color: #a2d6bf;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.continue_link:hover{
	text-decoration:none;
	 color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

	}
