* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    font-family:Whitney; 
    font-size:12px;
    height:100%;
    margin:0px;
}

h1 {
    
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

/*------------------------------------------------------------------------------
COMMON CLASSES
--------------------------------------------------------------------------------*/
.te-al-ce{
	text-align: center;
}

.hide{
	display: none !important;
}

/*------------------------------------------------------------------------------
SECTION-HOME
--------------------------------------------------------------------------------*/

.header {
	background-color:#F1AF7F;
	height:100px;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 2px;
    margin-left: 12px;
}

.main-nav {
    float: right;
    list-style: none;
    font-size: 20px;
    margin-top: 38px;
    margin-right: 90px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;

}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #dd7a32;
}

.home {
    background:url(../images/hero.png) no-repeat;
    width:100%;
    height:600px;
    background-size:cover;
}

.human {   
    width: 23%;
    margin-top:5%;
}

.login {    
    width: 70%;
    height: 43px;
    font-size: 20px;
    text-align: center;
    margin: 4% 15%;
}

#login {
    display:block;
    width:25%;
    float: left;
    margin: 2% 15%;
    background:white;
    height: 500px;
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 15px rgba(123, 125, 128, 0.78);
}

.register {
    width: 70%;
    height: 18px;
    font-size: 13px;
    text-align: center;
    margin: 2% 15%;
}

#register {
	display:none;width:25%; 
    float: left;
    margin: 2% 15%; 
    background:white;
    height: 500px;
    box-shadow: 0px 2px 15px rgba(123, 125, 128, 0.78);
}

.button {    
    background: none;
    border: none;
    text-align: center;
    text-align:center;
}

/*------------------------------------------------------------------------------
SECTION-AGE
--------------------------------------------------------------------------------*/

.age {
    float:none;
    list-style: none;
    font-size: 20px;
    margin-top: 38px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 35px;
    text-align: center;
}

.age li {
    text-decoration: none;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

.box-age{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    img{border:solid 1px red; margin:10px;} //for the purpose of highligthing the image when it gets selected
}

//for the purpose of highligthing the image when it gets selected
.selected{
   box-shadow:0px 12px 22px 1px #333; 
}

/*------------------------------------------------------------------------------
SECTION-SUBSCRIPTION 
--------------------------------------------------------------------------------*/

.subscription {
	float:none;
    list-style: none;
    font-size: 20px;
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 35px;
}

.subscription-box {
	box-sizing: border-box;
  	float: left;
  	width: 33.33%;
  	padding: 50px;
  	text-align: center;
}

.card {
	-webkit-column-gap: 100px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	padding: 16px;
	background-color: #f1f1f1;
	text-align: left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/*------------------------------------------------------------------------------
SECTION-SUBSCRIPTION DURATION
--------------------------------------------------------------------------------*/

.subscription-duration {
    float:none;
    list-style: none;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 35px;
    text-align: center;
}

.subscription-duration li {
    text-decoration: none;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

.duration-circle{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding:1px;
   	border:1px solid #021a40;
   	background-color:#ff0;
}













